// animations
.fadeInLeft {
  position: relative;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeInLeft {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.fadeInRight {
  position: relative;
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeInRight {
  0% {
    margin-right: -100%;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.opacity {
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
