@import "vars";

// for app general classes
.error-text {
  font-weight: 600;
  color: $error;
  margin: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.btn-circle {
  background: #00acc1;
  border-radius: 50%;
  margin: 0.5rem;
  transition: all 0.2s ease-in;
  height: 24px;
  width: 24px;
  &:hover,
  &:active {
    opacity: 0.7;
  }
  &--edit {
    background: url("assets/icons/edit.svg") no-repeat center;
  }
  &--delete {
    background: url("assets/icons/delete.svg") no-repeat center;
  }
}

.btn--back {
  background: url("assets/icons/arrow-back.svg") no-repeat left;
  color: $dark-accent;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 1.5rem;
  transition: all .2s ease-in;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.form {
  background-color: $base-color;
  padding: 20px;
  .error-text {
    min-height: 40px;
  }
  &__btn {
    background-color: $base-color;
    border: 2px solid $accent;
    border-radius: 4px;
    display: block;
    color: $accent;
    padding: 10px 20px;
    text-transform: uppercase;
    min-width: 100px;
    cursor: pointer;
    margin: 0 auto;
    &:hover:enabled,
    &:active:enabled {
      background: $accent;
      color: $base-color;
      transition: background 0.1s ease-in;
    }
  }
  &__btn-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    button {
      border-radius: 4px;
      padding: 10px 20px;
      text-transform: uppercase;
      min-width: 100px;
      cursor: pointer;
      margin: 0.3rem 0.5rem;
      &:hover,
      &:active {
        transition: background 0.1s ease-in;
      }
    }
    .btn {
      &--submit {
        background-color: $base-color;
        border: 2px solid $accent;
        color: $accent;
        &:hover,
        &:active {
          background: $accent;
          color: $base-color;
        }
      }
      &--cancel {
        background-color: $base-color;
        border: 2px solid $error;
        color: $error;
        &:hover,
        &:active {
          background: $error;
          color: $base-color;
        }
      }
    }
  }
  &__additional-text {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
    color: $bg-color;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  button:disabled {
    opacity: 0.4;
  }
}

.card {
  background-color: $base-color;
  box-shadow: 1px 1px 10px $base-color;
  max-width: 350px;
  padding: 1rem;
  margin: 1rem;
  p {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: $accent;
    button {
      color: $error;
      margin-left: 1rem;
    }
  }
}

.confirm-modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  &__inner {
    background: #fff;
    padding: 1rem;
    text-align: center;
  }
  &__text {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border-radius: 4px;
      padding: 10px 20px;
      text-transform: uppercase;
      min-width: 100px;
      cursor: pointer;
      margin: 1rem;
      &:hover,
      &:active {
        transition: background 0.1s ease-in;
      }
    }
    .btn {
      &--submit {
        background-color: $base-color;
        border: 2px solid $accent;
        color: $accent;
        &:hover,
        &:active {
          background: $accent;
          color: $base-color;
        }
      }
      &--cancel {
        background-color: $base-color;
        border: 2px solid $error;
        color: $error;
        &:hover,
        &:active {
          background: $error;
          color: $base-color;
        }
      }
    }
  }
}
