@import "vars";
// with outline effect
//@mixin button($bgColor: $dark-accent, $color: $base-color) {
//  background-color: $bgColor;
//  border-radius: 4px;
//  color: $color;
//  padding: 10px 20px;
//  text-transform: uppercase;
//  min-width: 100px;
//  cursor: pointer;
//  margin: 1rem;
//  transition: all 0.1s ease-in;
//  &:hover,
//  &:active,
//  &:target {
//    background-color: $bgColor;
//    color: $color;
//  }
//}

@mixin button($bgColor: $dark-accent, $color: $base-color) {
  background-color: $bgColor;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 1rem;
  min-width: 100px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
  &:hover,
  &:target {
    opacity: 0.8;
  }
  &:after {
    background-color: rgba($color, 30%);
    display: none;
    content: "";
    position: absolute;
    min-width: 100px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    margin-top: -50px;
    margin-left: -50px;

    /* Center the ripple */
    top: 50%;
    left: 50%;
    animation: ripple 1s;
    opacity: 0;
  }
  &:focus:not(:active):after {
    display: block;
  }
}

@mixin card() {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  &:hover,
  &:active,
  &:target {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.5);
  }
}

@mixin image($units: 150) {
  background: $dark-accent;
  border-radius: 50%;
  width: $units + px;
  height: $units + px;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
