// vars
$base-color: #fff;
$btn-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
$add-color: #dfcdc3;
$bg-color: #2c3e50;
$accent: #42b983; // #42b983 #009688
$dark-accent: #009688;
$error: rgb(255, 82, 82);
