// include font
@font-face {
  font-family: Abel, sans-serif;
  src: url(/assets/fonts/Abel.woff2) format('woff2'),
  url(/assets/fonts/Abel.woff) format('woff'),
  url(/assets/fonts/Abel.ttf) format('truetype');
}

// vars
$base-color: #fff;
$add-color: #dfcdc3;
$bg-color: #2c3e50;
$accent: #42b983; // #42b983 #009688
$error: rgb(255, 82, 82);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html,
body {
  overflow-x: auto !important;
  overflow-y: auto !important;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

li {
  list-style-type: none;
}

// for vuetify classes
.v-input, .theme--light.v-label {
  color: $accent;
}

.v-messages,
.error--text {
  color: $error !important;
}

.v-picker__title {
  background: $bg-color;
  color: $base-color;
}

.v-date-picker-table .v-btn.v-btn--active {
  background-color: $bg-color !important;
}

.v-date-picker-header__value {
  word-break: keep-all !important;
}

.error-block {
  .v-snack__wrapper {
    background: $error;
  }
}

.success-block {
  .v-snack__wrapper {
    background: $accent;
  }
}

// for app general classes

.user__page {
  padding: 25px 29px 70px 13px;
  overflow-y: auto;
  word-break: break-all;
  width: calc(100% - 330px);
  @media screen and (max-width: 1110px) {
    width: 100%;
  }
}

.error-text {
  font-weight: 600;
  color: $error;
  margin: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.form {
  background-color: $base-color;
  box-shadow: 1px 1px 10px $base-color;
  padding: 20px;
  width: 320px;
  .error-text {
    min-height: 40px;
  }
  &__btn {
    background-color: $base-color;
    border: 2px solid $accent;
    border-radius: 24px;
    display: block;
    color: $accent;
    padding: 10px 20px;
    text-transform: uppercase;
    min-width: 100px;
    cursor: pointer;
    margin: 0 auto;
    &:hover,
    &:active {
      background: $accent;
      color: $base-color;
    }
  }
}

.card {
  background-color: $base-color;
  box-shadow: 1px 1px 10px $base-color;
  max-width: 350px;
  padding: 1rem;
  margin: 1rem;
  p {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: $accent;
    button {
      color: $error;
      margin-left: 1rem;
    }
  }
}

.confirm-modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  &__inner {
    background: #fff;
    padding: 1rem;
    text-align: center;
  }
  &__text {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__btn {
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    max-width: 80px;
    width: 100%;
    margin: 0 0.5rem;
    &--yes {
      background: rgb(255, 82, 82);
    }
    &--no {
      background: #778899;
    }
    &--confirm {
      background: #32AAEB;
    }
    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}

// animations
.fadeInLeft {
  position: relative;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeInLeft {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.fadeInRight {
  position: relative;
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeInRight {
  0% {
    margin-right: -100%;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
